[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
cffi = "*"
cryptography = "*"
paramiko = "*"
pycparser = "*"
pynacl = "*"
pyqt6 = "*"
pyqt6-qt6 = "*"
pyqt6-sip = "*"
pyte = "*"
wcwidth = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
